.container {
  position: relative;
  z-index: 1;
}

.btn {
  font-family: var(--oswald);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  flex: 0.5;
  gap: 2rem;
  border-radius: 50px;
  padding: 5px 30px;
  width: fit-content;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.primary {
  color: var(--green);
  background-color: var(--green3);
  border: 1px solid var(--green);
}

.secondary {
  color: var(--green);
  border: 1px solid var(--green);
  padding: 5px 30px;
}

.secondary:hover {
  background-color: var(--green3);
  color: var(--green);
}

@media screen and (max-width: 568px) {
  .btn {
    font-size: 2rem;
    flex: 1;
  }
}
