.container {
  background-color: var(--tan);
}

.contentParent {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.top {
  margin-bottom: 5rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.heading {
  width: 50%;
  text-align: right;
  margin-left: auto;
}

.mapContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-bottom: 5rem;
  background-color: transparent;
  border-radius: 25px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
}

.img {
  object-fit: cover;
  border-radius: 20px;
  border-radius: 20px;
}

.rightTop,
.rbLeft,
.rbRight {
  background-color: var(--tan);
  /* border-bottom: 1px solid var(--green2); */
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 3rem;
  background-size: 10px 10px;
  border: 1px solid var(--gray2);
}

.title {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--green);
}

.desc {
  color: var(--green);
  opacity: 0.8;
}

.rightBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rbLeft {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  transition: all 0.2s ease-in;
  text-align: center;
  color: var(--green);
  font-family: var(--switzer);
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: -1px;
  cursor: pointer;
}

.rbLeft:hover,
.rbRight:hover {
  background-color: var(--green3);
  color: var(--black);
}

.rbRight {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-left: 0px;
  border-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  transition: all 0.2s ease-in;
  text-align: center;
  color: var(--green);
  font-family: var(--switzer);
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: -1px;
}

.btnContainer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.falseBtnContainer1 {
  margin-bottom: 3rem;
}

.falseBtnContainer {
  cursor: pointer;
}

.modalDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  height: 100%;
}

@media screen and (max-width: 1068px) {
  .mapContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .mapContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
