.container {
  background-color: var(--tan);
}


.top {
  margin-bottom: 5rem;
}

.heading {
  width: 50%;
  text-align: right;
  margin-left: auto;
}

.mapContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-bottom: 5rem;
  background-color: transparent;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.rightTop,
.rbLeft,
.rbRight {
  background-color: var(--tan);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 3rem;
  background-size: 10px 10px;
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
}

.rightTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.title {
  color: var(--green);
  text-align: center;
}

.desc {
  color: var(--green);
  opacity: 0.8;
}

.rightBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.rbLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  transition: all 0.2s ease-in;
  text-align: center;
  color: var(--green);
  font-family: var(--switzer);
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: -1px;
  cursor: pointer;
}

.rbLeft:hover,
.rbRight:hover {
  background-color: var(--green3);
  color: var(--black);
}

.rbRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  transition: all 0.2s ease-in;
  text-align: center;
  color: var(--green);
  font-family: var(--switzer);
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: -1px;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

/* .falseBtnContainer1 {
  margin-bottom: 3rem;
} */

.falseBtnContainer {
  cursor: pointer;
}

.modalDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  height: 100%;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
    text-align: center;
  }

  .mapContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .mapContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
