.tableContainer {
  border-radius: 20px;
  border: 1px solid var(--gray2);
  overflow-x: scroll;
  /* padding-top: 10rem; */
}

.table {
  border-collapse: collapse;
  width: 100%;
  padding: 2rem;
}

.thead {
  border-bottom: 1px solid #c7c4c4;
}

.tr {
  padding: 2rem;
  border-bottom: 1px solid var(--gray2);
}

.tr:last-child {
  border-bottom: none;
}

.th {
  padding: 3rem;
  color: var(--black);
  font-size: 2rem;
  text-align: left;
  font-family: var(--switzer);
  font-size: 2.7rem;
}

.td {
  font-size: 1.6rem;
  font-family: var(--interTight);
  padding: 3rem;
  color: var(--black);
}
