.bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
  margin-top: 10rem;
}

.left {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.left h2,
.left h3 {
  margin-bottom: 3rem;
  line-height: 120%;
  font-weight: 600;
}

.left h2 {
  font-size: 3.2rem;
}

.left h3 {
  font-size: 2.4rem;
  line-height: 120%;
  width: fit-content;
}

.left p {
  margin-bottom: 3rem;
  font-weight: 500;
}

.left ul {
  margin-bottom: 3rem;
}

.left li {
  font-family: var(--raleway);
  font-weight: 600;
  hyphens: auto;
  font-size: 1.6rem;
  line-height: 150%;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.left blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--green);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 350px;
}

.img {
  object-fit: cover;
  border-radius: 20px;
}

.rightContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.right span {
  font-weight: 600;
  font-size: 2.5rem;
  display: block;
  margin-bottom: 2rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}


@media screen and (max-width: 968px) {
  .rightContent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .rightContent {
    grid-template-columns: repeat(1, 1fr);
  }
}
