.content {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 450px;
}

.img {
  object-fit: cover;
  border-radius: 20px;
}

.right {
  background-color: var(--green);
  border-radius: 20px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.box {
  margin-bottom: 2rem;
}

.title,
.detail {
  color: var(--tan);
}

.calBox {
  margin-top: 15rem;
}

.heading {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    width: 70%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .right {
    gap: 5rem;
  }

  .imgContainer {
    height: 300px;
  }

  .heading {
    width: 100%;
    margin-bottom: 3rem;
  }
}
