.content {
  background-color: var(--tan);
  padding: 5rem;
  margin-top: 10rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.benefitButtonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    padding: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading, .copy {
    text-align: center;
  }

  .benefitButtonContainer {
    align-items: center;
    justify-content: center;
  }
}
