.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.topLeft,
.topRight {
  flex: 1;
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.icon {
  width: 30px;
  height: 30px;
  color: var(--green);
  transform: rotate(90deg);
}

.copy {
  width: 60%;
}

.topRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.heading {
  color: var(--black);
  /* text-align: right; */
}

.bottom {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 2rem;
}

.imgContainer {
  position: relative;
  height: 450px;
  width: 100%;
  z-index: 1;
}

.img {
  object-fit: cover;
  border-radius: 20px;
}

.bottomRight {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.bottomRight1,
.bottomRight2 {
  border-radius: 20px;
  border: 2px solid var(--black);
}
