.container {
  background-color: var(--tan);
  border-top: 1px solid var(--lightBlack);
}

.content {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.top {
  flex: 1;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.sectionIntroContainer {
  width: fit-content;
  margin-bottom: 2rem;
}

.heading {
  color: var(--black);
}

.copy {
  font-size: 1.8rem;
  color: var(--black);
  opacity: 0.8;
  width: 80%;
}

.right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.qaContainer {
  padding: 3rem 2rem;
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
}

.qaContainer.selected {
  background-color: var(--green3);
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.h3Container {
  display: flex;
  gap: 1rem;
}

.iconBox {
  width: 35px;
  height: 35px;
  background-color: var(--green3);
  border-radius: 50%;
  border: 1px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.icon {
  color: var(--green);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.iconFlip {
  transform: rotate(180deg);
  color: var(--green);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.question {
  font-family: var(--raleway);
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  width: 90%;
  hyphens: auto;
  transition: all 0.2s ease-in;
  text-transform: none;
}

.index {
  margin-right: 1rem;
  font-size: 2.4rem;
  font-family: var(--raleway);
  font-weight: 700;
}

.answer {
  margin-top: 2rem;
  hyphens: auto;
  width: 80%;
  opacity: 0.8;
}

.btnContainer {
  display: grid;
  width: fit-content;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
  }

  .content {
    flex-direction: column;
    gap: 3rem;
  }

  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .bottom {
    gap: 2rem;
  }

  .answer {
    width: 100%;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
