.container {
  background-color: var(--tan);
  border-top: 1px solid var(--lightBlack);
}

.white {
  background-color: var(--white);
}

.gray {
  background-color: var(--gray2);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

/* .top {
  flex: 1;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
} */

.sectionIntroContainer {
  width: fit-content;
  margin-bottom: 2rem;
}

.heading {
  color: var(--black);
  /* width: 60%; */
}

.copy {
  font-size: 2rem;
  color: var(--black);
  opacity: 0.8;
  width: 60%;
}

.right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  width: 70%;
  margin-left: auto;
}

.qaContainer {
  padding: 3rem 0rem;
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
  border-bottom: 1px solid var(--lightBlack);
}

/* .qaContainer.selected {
  border: 1px solid var(--lightBlack);
  background-color: var(--green3);
} */

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.h3Container {
  display: flex;
  gap: 1rem;
}

.iconBox {
  width: 35px;
  height: 35px;
  background-color: var(--green3);
  border-radius: 50%;
  border: 1px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.question {
  font-family: var(--suisse);
  font-size: 4rem;
  line-height: 110%;
  hyphens: auto;
  transition: all 0.2s ease-in;
  text-transform: none;
  letter-spacing: -0.2px;
}

.index {
  margin-right: 1rem;
}

.answer {
  margin-top: 2rem;
  hyphens: auto;
  width: 95%;
  opacity: 0.7;
  font-size: 2rem;
}

.btnContainer {
  display: grid;
  width: fit-content;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    width: 100%;
  }

  .content {
    flex-direction: column;
    gap: 3rem;
  }

  .falseButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .right {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .falseButtonContainer {
    width: fit-content;
  }

  .bottom {
    gap: 2rem;
  }

  .answer {
    width: 100%;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .question {
    font-size: 2.4rem;
  }

  .answer {
    font-size: 1.6rem;
  }

  .sectionIntroContainer {
    margin-bottom: 0rem;
  }
}
