.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.heading {
  font-size: 5.2rem;
}

.copy {
  font-size: 1.8rem;
  width: 50%;
  text-align: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 10px;
  background-color: var(--white);
  padding: 3rem;
}

.heading {
  text-align: center;
  width: 70%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icon {
  color: var(--lightBlack);
  width: 100px;
  height: 100px;
}

.contentBottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.headingii {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .left {
    align-items: center;
    justify-content: center;
  }
  .heading,
  .copy {
    width: 100%;
  }

  .contentBottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .content {
    grid-gap: 1rem;
  }

  .heading {
    font-size: 4rem;
  }

  .contentBottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
