.header {
  border-bottom: 1px solid var(--green2);
  /* background-color: var(--tan); */
}

.content {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 5.2rem;
  padding-top: 2rem;
  z-index: 1000;
  border-left: 1px solid var(--green2);
  border-right: 1px solid var(--green2);
}

.logo {
  font-family: var(--oswald);
  font-weight: 700;
  color: var(--green);
  font-size: 2rem;
  text-transform: uppercase;
}

.location {
  font-family: var(--oswald);
  color: var(--green);
}

@media screen and (max-width: 568px) {
  .content {
    padding: 10px 15px;
  }
}
