.container {
  background-color: var(--black);
  height: 100%;
}

.heading {
  color: var(--tan);
  font-size: 4rem;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
}

.calBox {
  /* margin-top: 15rem; */
  padding-bottom: 10rem;
  height: 100%;
}

@media screen and (max-width: 968px) {
  .heading {
    width: 80%;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    width: 80%;
    margin-bottom: 5rem;
  }
}
