.logo {
  font-family: var(--suisse);
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
  user-select: none;
  /* text-transform: uppercase; */
}

.span2 {
  font-family: var(--lb);
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 500;
  hyphens: none;
  white-space: nowrap;
  color: inherit;
  margin-left: 5px;
  margin-right: 5px;
}

.white {
  color: var(--white);
}

.green {
  color: var(--green3);
  font-size: 3rem;
}
