.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.logo {
  font-family: var(--oswald);
  font-weight: 700;
  color: var(--tan);
  font-size: 2rem;
  text-transform: uppercase;
}
