.logo {
  font-family: var(--interTight);
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.span2 {
  font-family: var(--lb);
  font-style: italic;
  font-size: 2rem;
  font-weight: 500;
  hyphens: none;
  white-space: nowrap;
  color: inherit;
}

.white {
  color: var(--white);
}
