.bgColor {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.lottieBox {
  width: 100%;
  height: 400px;
}

.lottie {
  height: 100%;
  width: 100%;
}

.heading {
  /* color: var(--green3); */
  margin-bottom: 2rem;
  text-transform: none !important;
}

.span {
  line-height: 100%;
  letter-spacing: -0.04em;
  font-family: var(--PerfectlyNinetiesItalic);
  /* color: var(--green3); */
}

.text {
  /* color: var(--green3); */
}

.authorDetails {
  /* color: var(--green3); */
  font-size: 2rem;
  font-family: var(--suisse);
  margin-top: 2rem;
}

.btnContainer {
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .content {
    grid-gap: 3rem;
  }

  .imgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading,
  .copy,
  .authorDetails {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .imgContainer {
    width: 80%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 100%;
    height: 300px;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
