.bgColor {
  background-color: var(--green);
}

.content {
  padding-top: 15rem;
}

.text {
  letter-spacing: -1.5px;
  width: 60%;
  font-size: 4rem;
  color: var(--green3);
  line-height: 130%;
}

.span1 {
  font-family: var(--lb);
  font-style: italic;
  color: var(--green3);
  margin-left: 1rem;
  margin-right: 1rem;
}

.span2 {
  text-decoration: underline;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--green3);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 5rem;
}

.author {
  border-radius: 50%;
  border: 2px solid var(--green3);
  padding: 0.5rem;
}

.authorDetails {
  color: var(--green3);
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 968px) {
  .text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .text {
    text-align: left;
  }
}
