.container {
  background-color: var(--tan);
}

.top {
  margin-bottom: 3rem;
}

.heading {
  width: 60%;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.copy {
  font-size: 3.2rem;
  line-height: 115%;
  width: 40%;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading,
  .copy {
    text-align: left;
  }
}
