.container {
  background-color: var(--tan);
}

.content {
  margin-top: -13rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 3rem;
}

.falseBtnContainer {
  margin-bottom: 1rem;
}

.copy {
  color: var(--black);
  width: 90%;
  font-size: 1.8rem;
  opacity: 0.8;
  margin-top: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--gray);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .heading {
    width: 80%;
    text-align: center;
  }

  .copy {
    width: 100%;
  }

  .imgContainer {
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    width: 100%;
  }

  .imgContainer {
    height: 250px;
  }
}
