.parent {
  border-top: 1px solid var(--lightBlack);
  background-color: var(--tan);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  text-align: center;
  width: 50%;
  font-size: 5rem;
}

.copy {
  width: 60%;
  text-align: center;
  font-weight: 500;
  opacity: 0.8;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.formContainer {
  margin-top: 3rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 968px) {
  .heading,
  .copy {
    width: 100%;
  }

  .formContainer {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    background-color: var(--white);
    padding: 3rem;
    border-radius: 10px;
    border: 1px solid var(--lightBlack);
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .formContainer {
    width: 100%;
  }

  .heading {
    font-size: 3.6rem;
  }
}
