.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: -13rem;
}

.heading {
  font-size: 5.2rem;
}

.copy {
  font-size: 1.8rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  border-radius: 10px;
  border: 1px solid var(--lightBlack);
  padding: 3rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icon {
  color: var(--lightBlack);
  width: 200px;
  height: 200px;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
  padding: 3rem;
  position: relative;
  background-color: var(--white);
}

.card:nth-child(2) {
  background-color: var(--tan);
}

.card:nth-child(3) {
  background-color: var(--gray);
  border: 1px solid var(--lightBlack);
}

.card:nth-child(4) {
  background-color: var(--black);
}

.card:nth-child(2) h3,
.card:nth-child(2) span,
.card:nth-child(2) p {
  color: var(--black);
}

.card:nth-child(3) h3,
.card:nth-child(3) span,
.card:nth-child(3) p {
  color: var(--black);
}

.card:nth-child(4) h3,
.card:nth-child(4) span,
.card:nth-child(4) p {
  color: var(--green3);
}

.index {
  font-size: 5rem;
  font-weight: 400;
  font-variation-settings: "cuts" 100, "move" 100;
  font-variant-ligatures: common-ligatures;
}

.feature {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    width: 100%;
    text-align: center;
  }

  .right {
    order: -1;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .content {
    grid-gap: 1rem;
  }

  .heading {
    font-size: 4.5rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-items: center;
    justify-content: center;
  }

  .feature {
    text-align: center;
    width: 100%;
  }
}
