.container {
  padding: 2rem;
  padding-top: 4rem;
  background-color: transparent;
}

@media screen and (max-width: 870px) {
  .container {
    padding: 1rem;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 3rem 2rem;
  }
}
