.container {
  background-color: var(--tan);
  border-top: 1px solid var(--lightBlack);
}

.heading {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* margin-bottom: 5rem; */
}

.em1 {
  text-decoration: underline;
}

.em {
  font-family: var(--PerfectlyNinetiesItalic);
  line-height: 1;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 10rem;
}

.parent {
  margin-bottom: 3rem;
}

.content {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 3rem;
  margin-bottom: 2rem;
}
.left {
  background-color: var(--tan2);
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid var(--lightBlack);
}

.title,
.titleMobile {
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}

.titleMobile {
  display: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imgContainer {
  position: relative;
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  object-fit: contain;
}

.icon {
  color: var(--lightBlack);
}

.right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.desc {
  opacity: 0.8;
}

.span {
  display: block;
  padding-bottom: 1rem;
  font-weight: 700;
  border-bottom: 1px solid var(--lightBlack);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.box li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--lightBlack);
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  transition: all 0.2s ease-in;
}

.reasonnTitle {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-family: var(--PerfectlyNinetiesItalic);
}

.reason {
  opacity: 0.8;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 300px;
  }

  .img {
    object-fit: contain;
  }

  .heading {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    display: none;
  }

  .titleMobile {
    display: block;
    text-decoration: underline;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    padding: 3rem;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }

  .dataContainer {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .parent {
    border-radius: 10px;
    /* background-color: var(--white); */
    padding: 2rem;
    margin-bottom: 5rem;
    border: 1px solid var(--gray);
  }

  .imgContainer {
    width: 100%;
  }

  .heading {
    width: 100%;
  }

  .content {
    margin-bottom: 0rem;
  }

  .box {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    width: 100%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .imgContainer {
    height: 250px;
  }
}
