.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copy {
  width: 60%;
}

.span {
  color: var(--green3);
  line-height: 100%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--green);
}

@media screen and (max-width: 968px) {
  .copy {
    width: 100%;
  }
}
