.parent {
  margin-top: 15rem;
}

.falseBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10rem;
}

.heading {
  color: var(--green);
  margin-bottom: 5rem;
}

.test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 2.5rem;
  border: 1px solid var(--gray);
  border-radius: 20px;
}

.featureContainer:nth-child(1),
.featureContainer:nth-child(4) {
  border: 1px solid var(--gray);
  background-color: var(--white);
  position: relative;
}

.featureContainer:nth-child(1) {
  border-bottom-right-radius: 0px;
}

.featureContainer:nth-child(4) {
  border-top-left-radius: 0px;
  left: -1px;
  top: -1px;
}

.desc {
  opacity: 0.8;
}

.icon {
  color: var(--green);
}

.service {
  color: var(--green);
  position: relative;
  top: -8px;
  text-transform: capitalize;
}

.description {
  color: var(--green);
  font-weight: 600;
}

.img {
  flex: 1;
  object-fit: cover;
  border: 1px solid var(--green2);
  border-radius: 20px;
}

.box1 {
  width: 100%;
  height: 250px;
}

.box1,
.box2 {
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.box2 {
  background-color: var(--green);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5rem;
}

.box2 p,
.box2 h3 {
  color: var(--tan);
  text-align: left;
}

.box2 p {
  font-weight: 600;
}

.btnContainer {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .content {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .test {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .featureContainer:nth-child(1),
  .featureContainer:nth-child(4) {
    border-radius: 20px;
  }
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  .test {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem;
    margin-bottom: 2rem;
  }

  .featureContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2.5rem;
  }

  .featureContainer:nth-child(1),
  .featureContainer:nth-child(4) {
    border: 1px solid var(--green2);
    border-radius: 20px;
  }

  .featureContainer:nth-child(1) {
    border-bottom-right-radius: 0px;
  }

  .featureContainer:nth-child(4) {
    border-top-left-radius: 0px;
    position: relative;
    left: -1px;
    top: -1px;
  }

  .heading {
    margin-bottom: 7rem;
    text-align: center;
  }

  .service {
    margin-top: 1rem;
  }

  .box2 {
    align-items: center;
    justify-content: center;
  }

  .box2 h4 {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .test {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .featureContainer:nth-child(1),
  .featureContainer:nth-child(2),
  .featureContainer:nth-child(3),
  .featureContainer:nth-child(4) {
    border: 1px solid var(--green2);
    border-radius: 20px;
  }
}
