.container {
  border-top: 1px solid var(--green2);
  border-bottom: 1px solid var(--green2);
}

.top {
  margin: 5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 7rem;
}

.left {
  background-color: var(--green);
  padding: 3rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.span,
.headingii,
.leftCopy {
  color: var(--green3);
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 3rem; */
}

.card {
  padding: 3rem;
  border-radius: 20px;
}

.card:nth-child(1),
.card:nth-child(4) {
  border: 1px solid var(--green2);
}

.card:nth-child(1) {
  border-bottom-right-radius: 0px;
}

.card:nth-child(4) {
  position: relative;
  left: -1px;
  top: -1px;
  border-top-left-radius: 0px;
}

.description {
  opacity: 0.8;
}

.icon {
  color: var(--green);
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 2rem;
}

@media screen and (max-width: 968px) {
  .heading {
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    padding: 6rem;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-gap: 3rem;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 20px;
    border: 1px solid var(--green2);
  }

  .card:nth-child(1) {
    border-bottom-left-radius: 0px;
  }

  .card:nth-child(2),
  .card:nth-child(3) {
    border-radius: 0px;
    position: relative;
    top: -1px;
  }

  .card:nth-child(3) {
    top: -2px;
  }

  .card:nth-child(4) {
    border-top-right-radius: 0px;
    position: relative;
    top: -3px;
    left: 0;
  }

  .description,
  .title,
  .icon {
    text-align: center;
  }
}
