.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-top: 15rem;
}

.span {
  margin-bottom: 2rem;
  display: block;
}

.heading {
  margin-bottom: 3rem;
}

.qaContainer {
  padding: 3rem 0rem;
  border-bottom: 1px solid var(--green);
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.h3Container {
  display: flex;
  gap: 1rem;
}

.iconBox {
  width: 35px;
  height: 35px;
  background-color: var(--green3);
  border-radius: 50%;
  border: 1px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.icon {
  color: var(--green);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.iconFlip {
  transform: rotate(180deg);
  color: var(--green);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.question {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  width: 90%;
  hyphens: auto;
  transition: all 0.2s ease-in;
  text-transform: none;
}

.index {
  margin-right: 1rem;
  font-size: 2.4rem;
  font-family: var(--raleway);
  font-weight: 700;
}

.answer {
  margin-top: 2rem;
  hyphens: auto;
  width: 80%;
}

.imgContainer {
  position: relative;
  width: 70%;
  height: 100%;
}

.img {
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid var(--green2);
  border-radius: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .imgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading,
  .copy {
    text-align: center;
  }

  .imgContainer {
    height: 500px;
  }
}
