.container {
  background-color: var(--tan);
}

.heading {
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  /* background-color: var(--tan2); */
  border-radius: 20px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.content:hover {
  background-color: var(--green3);
}

.left {
  border-radius: 20px;
  border: 1px solid var(--lightBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
}

.title {
  text-align: center;
  line-height: 130%;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.6px;
}

.titleMobile {
  display: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* padding: 2rem; */
}

.icon {
  color: var(--green);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 1068px) {
  .box,
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .box,
  .parent {
    grid-template-columns: repeat(1, 1fr);
  }
}
