.container {
  background-color: var(--tan);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: -15rem;
}

.heading {
  width: 80%;
  text-align: center;
  font-size: 5.2rem;
}

.topCopy {
  width: 55%;
  text-align: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box:nth-child(even) .right {
  order: -1;
  border: 0px;
}

.box:nth-child(odd) .right {
  border: 0px;
}

.box:nth-child(1) .left {
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
  position: relative;
  right: -1px;
  border-bottom-right-radius: 0px;
}

.box:nth-child(2) .left {
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
  position: relative;
  top: -1px;
  border-top-left-radius: 0px;
}

.bottom {
  padding: 5rem;
}

.featuresBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.left,
.right {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.right {
  border: 1px solid var(--lightBlack);
  padding: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--lightBlack);
}

.icon {
  color: var(--lightBlack);
}

@media screen and (max-width: 1068px) {
  .top {
    margin-bottom: 1rem;
    padding-top: 5rem;
  }

  .heading {
    width: 100%;
  }

  .topCopy {
    margin-bottom: 3rem;
  }

  .bottom,
  .left,
  .right {
    padding: 3rem;
    border: 0px;
  }

  .bottom {
    padding-top: 0rem;
  }

  .box:nth-child(even) .right {
    order: 1;
  }

  .box {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 300px;
  }

  .box:nth-child(1) .left {
    border-bottom-right-radius: 10px;
  }

  .box:nth-child(2) .left {
    border-top-left-radius: 10px;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    padding: 0rem;
  }

  .box {
    border: 1px solid var(--green);
    border-radius: 10px;
    margin-bottom: 3rem;
  }

  .topCopy {
    width: 80%;
  }

  .img {
    border-radius: 15px;
  }

  .box {
    padding: 2rem;
    grid-gap: 2rem;
  }

  .right {
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  .topCopy {
    width: 100%;
  }

  .heading {
    font-size: 4.5rem;
  }
}
