.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.topCopy {
  width: 60%;
  text-align: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box:nth-child(even) .right {
  order: -1;
  position: relative;
  right: -1px;
  top: -1px;
  border-left: 0px;
  border-bottom: 0px;
}

.box:nth-child(odd) .right {
  border-top: 0px;
  border-right: 0px;
}

.bottom {
  padding: 5rem;
}

.featuresBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.left,
.right {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.detail {
  font-weight: 700;
}

.right {
  border: 1px solid var(--green2);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid var(--green2);
}

.icon {
  color: var(--green);
}

@media screen and (max-width: 968px) {
  .top {
    margin-bottom: 1rem;
  }

  .bottom,
  .left,
  .right {
    padding: 3rem;
    border: 0px;
  }

  .bottom {
    padding-top: 0rem;
  }

  .box:nth-child(even) .right {
    order: 1;
  }

  .box {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .top {
    margin-bottom: 5rem;
  }

  .bottom {
    padding: 0rem;
  }

  .box {
    border: 1px solid var(--green);
    border-radius: 20px;
    margin-bottom: 3rem;
  }

  .topCopy {
    width: 80%;
  }

  .img {
    border-radius: 15px;
  }

  .right {
    padding: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .topCopy {
    width: 100%;
  }
}
