.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-top: 1px solid var(--lightBlack);
  user-select: none;
}

.bottomBorder {
  border-bottom: 1px solid var(--lightBlack);
}

.track {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 20s linear infinite;
  gap: 0rem;
}

.text {
  color: var(--green);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 0.2rem;
}

.icon2 {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  position: relative;
  top: -7px;
  left: -5px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider:hover .track {
  animation-play-state: paused !important;
}
