.sliderContainer {
  border-top: 1px solid var(--green2);
  /* border-bottom: 1px solid var(--green2); */
  overflow: hidden;
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
  animation: slideAnimation 100s linear infinite;
}

.slider h2 {
  margin: 0;
  color: var(--green);
  font-size: 2rem;
  padding-bottom: 1rem;
  animation: slideInfinite 100s linear infinite;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.icon2 {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
}
