.header {
  color: var(--green);
}

.top {
  margin-bottom: 5rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--gray);
}

.details {
  border: 1px solid var(--gray);
  border-top: 0px;
  padding: 2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
}

.blogTitle {
  font-size: 2rem;
  text-transform: none;
  color: var(--green3);
}

.blogTitle:hover {
  text-decoration: underline;
}

.desc {
  font-size: 1.4rem;
  color: var(--green3);
}

.btnContainer {
  display: grid;
  width: 100%;
  margin-top: 1rem;
}
