.reqContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  margin-bottom: 8rem;
}

.bottom {
  margin: 5rem;
}

.benefitContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--green2);
  border-radius: 20px;
  padding: 3rem;
}

.benefitContainer:nth-child(1) {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.benefitContainer:nth-child(2) {
  border-bottom: none;
  border-radius: 0px;
}

.benefitContainer:nth-child(3) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.index {
  display: inline-block;
  font-size: 3.6rem;
  color: var(--green);
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heading {
  color: var(--green);
  line-height: 80%;
  text-transform: capitalize;
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 2rem;
}

.description {
  color: var(--green);
  font-weight: 600;
  opacity: 0.8;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .bottom {
    margin: 3rem;
  }

  .benefitContainer {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .reqContainer {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .top {
    margin-bottom: 5rem;
  }

  .bottom {
    margin: 0rem;
  }

  .btnContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
