.bottom {
  margin-top: 5rem;
}

.benefitContainer {
  display: grid;
  grid-template-columns: 0.5fr 3fr 2fr;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--green2);
  padding: 2rem 0rem;
}

.index {
  display: block;
}

.description {
  color: var(--green);
  font-weight: 600;
}
